@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-tech {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 10px;
  font-size: 2.5rem;
}

.menu-mobile {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 70vw;
  display: none;
}

.nav-mobile {
  text-align: right;
  background-color: #f1f2f3;
  height: 100vh;
}

.nav-mobile ul {
  list-style: none;
}

.nav-mobile ul li a {
  color: #000000;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 300;
  padding: 20px 4%;
  display: block;
}

.nav-mobile ul li a:hover {
  background-color: #d8d8d8;
  color: #000000;
  font-weight: 600;
}

.menu-mobile .btn-fechar {
  padding: 10px 4%;
  background-color: #f1f2f3;
}

.btn-abrir {
  margin: 10px;
}

.menu-mobile .btn-fechar img,
.btn-abrir img {
  width: 40px;
  cursor: pointer;
}

.overlay-menu {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
}

@media screen and (max-width: 795px) {
  .header {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-desktop {
    display: none;
  }
}

@media screen and (min-width: 796px) {
  .btn-abrir,
  .menu-mobile,
  .nav-mobile,
  .btn-fechar,
  .overlay-menu {
    display: none;
  }
}

.nav-desktop ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 10px;
}

.nav-desktop ul li a {
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 400;
  position: relative;
}

.nav-desktop ul li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: #ff0000;
  position: absolute;
  top: 17px;
  left: 0;
  transition: 0.5s;
}

.nav-desktop ul li a:hover::after {
  width: 100%;
}
