@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1f2f3;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.main-news {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  align-content: space-between;
  margin-bottom: 30px;
}

.main-news .content-main-text,
.main-news .moldura {
  width: 100%;
  height: 47.5%;
}

.main-news .moldura img {
  width: 100%;
  height: 100%;
}

.main-news .content-main-text h1,
.main-news .content-main-text p,
.main-news .content-main-text a {
  margin: 7.5px;
  text-align: justify;
}

.main-news .content-main-text h1,
.container-news .card-new .card-box-texts h2 {
  font-size: 1.8rem;
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.main-news .content-main-text p,
.main-news .content-main-text a {
  font-size: 1.4rem;
}

.main-news .content-main-text p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.main-news .content-main-text a {
  color: red;
  text-decoration: none;
  font-weight: 550;
}

@media screen and (min-width: 796px) {
  .main-news {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1000px) {
  .main-news .content-main-text h1 {
    font-size: 2rem;
  }

  .main-news .content-main-text p,
  .main-news .content-main-text a {
    font-size: 1.8rem;
  }

  .main-news .content-main-text,
  .main-news .moldura {
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .main-news .content-main-text h1 {
    font-size: 25px;
  }

  .main-news .content-main-text p,
  .main-news .content-main-text a {
    font-size: 20px;
  }
}

.container-news {
  width: 95vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  min-height: 500px;
  align-items: flex-start;
}

.container-news .card-new {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 5px;
  min-height: 500px;
  transition: transform .25s ease-in-out;
}

.container-news .card-new .moldura-img-card-new {
  width: 100%;
  height: 250px;
}

.container-news .card-new .moldura-img-card-new img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.container-news .card-new .card-box-texts {
  font-size: 10px;
  width: 90%;
  text-align: justify;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 15px 0;
}

.container-news .card-new .card-box-texts p {
  font-size: 1.6em;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.container-news .card-new .card-box-texts a {
  color: red;
  text-decoration: none;
  font-weight: 550;
  font-size: 1.5em;
}

.container-news .card-new .card-box-texts hr {
  margin: 5px 0 5px 0px;
  height: 0.5px;
}

.container-news .card-new .card-box-texts ul li {
  font-size: 1.4em;
}

.container-news .card-new .card-box-texts h2,
.container-news .card-new .card-box-texts p {
  margin: 5px;
}

.card-new:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .card-new:hover{
    transform: scale(1);
  }
}

#container-more-news {
  display: none;
}


